<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <h3>you can create a new game and invite your friends..</h3>
    <form action="/login/new" method="post">
        <input type="submit" value="new game"/><br/>
    </form>

    <h3>or you can enter an existing game was created by another person.</h3>
    <form action="/login/existing" method="post">
        <input type="submit" value="existing game"/><br/>
    </form>

</body>
</html>